<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="top">
          <div class="logo"><img src="../../assets/images/title.png" /></div>

          <img src="" />
        </div>
        <div class="mid">
          <div class="home sideicons">
            <img
              style="width: 15px; height: 15px"
              src="../../assets/images/home.png"
            />
            <p>Home</p>
          </div>
          <div class="pilot sideicons">
            <img
              style="width: 15px; height: 15px"
              src="../../assets/images/inbox.png"
            />
            <p>My Pilots</p>
          </div>
          <div class="inbox sideicons">
            <img
              style="width: 15px; height: 15px"
              src="../../assets/images/inbox.png"
            />
            <p>Inbox</p>
          </div>
          <div class="team sideicons">
            <img
              style="width: 15px; height: 15px"
              src="../../assets/images/people.png"
            />
            <p>My Team</p>
          </div>

          <u></u>
        </div>
        <div class="teammeb">
          <div class="team-title">
            <p>Add Team Members</p>
            <img
              style="width: 16px; height: 16px"
              src="../../assets/images/addc.png"
            />
          </div>

          <div class="peoples">
            <div class="per">
              <img class="avat" src="../../assets/images/sam.png" />
              <div class="details">
                <h3>Patrica M</h3>
                <p>Teacher</p>
              </div>
            </div>

            <div class="per">
              <img class="avat" src="../../assets/images/sam.png" />
              <div class="details">
                <h3>Patrica M</h3>
                <p>Teacher</p>
              </div>
            </div>

            <div class="per">
              <img class="avat" src="../../assets/images/sam.png" />
              <div class="details">
                <h3>Patrica M</h3>
                <p>Teacher</p>
              </div>
            </div>

            <div class="per">
              <img class="avat" src="../../assets/images/sam.png" />
              <div class="details">
                <h3>Patrica M</h3>
                <p>Teacher</p>
              </div>
            </div>

            <div class="per">
              <img class="avat" src="../../assets/images/sam.png" />
              <div class="details">
                <h3>Patrica M</h3>
                <p>Teacher</p>
              </div>
            </div>

            <div class="per">
              <img class="avat" src="../../assets/images/sam.png" />
              <div class="details">
                <h3>Patrica M</h3>
                <p>Teacher</p>
              </div>
            </div>
            <div class="per">
              <img class="avat" src="../../assets/images/sam.png" />
              <div class="details">
                <h3>Patrica M</h3>
                <p>Teacher</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main">
        <div class="header">
          <img src="../assets/images/logo.png" />
          <div class="hchild">
            <h1 class="title">Shenzhen Houde Academy</h1>
            <div class="links">
              <a>DISCOVER</a>
              <a>IMPACT BOARD</a>
              <a>LEARNING PODS</a>
            </div>
          </div>
        </div>

        <div class="body">
          <div class="camp">
            <div class="camph">
              <h1>Impact campaigns</h1>
              <img class="plus" src="../assets/images/plus.png" />
              <img src="../assets/images/more.png" />
            </div>

            <div class="ccard card">
              <h1>Reading Comprehension</h1>
              <button>High</button>
              <div class="st">
                <div class="person">
                  <img src="../assets/images/user.png" />
                  <p>Students</p>
                </div>
                <div class="link">
                  <img src="../assets/images/hyperlink.png" />
                  <p>3 tools</p>
                </div>
              </div>

              <div class="st2">
                <div class="person">
                  <img
                    style="border-radius: 22px; width: 30px; height: 30px"
                    src="../assets/images/sam.png"
                  />
                </div>
                <div class="link2">
                  <img src="../assets/images/hyperlink.png" />
                  <p>29 Sept - 10 Oct</p>
                </div>
              </div>
            </div>

            <div class="ccard card">
              <h1>Career Development</h1>
              <button class="medi">Medium</button>
              <div class="st">
                <div class="person">
                  <img src="../assets/images/user.png" />
                  <p>Students</p>
                </div>
                <div class="link">
                  <img src="../assets/images/hyperlink.png" />
                  <p>0 tools</p>
                </div>
              </div>

              <div class="st2">
                <div class="add">
                  <img src="../assets/images/add.png" />
                </div>
                <div class="link2">
                  <img src="../assets/images/hyperlink.png" />
                  <p>29 Sept - 10 Nov</p>
                </div>
              </div>
            </div>
          </div>

          <div class="tools">
            <div class="camph">
              <h1>Learning Tools</h1>
              <img class="plus" src="../assets/images/plus.png" />
              <img src="../assets/images/more.png" />
            </div>

            <div class="wrap">
              <div class="tcard card">
                <img src="../assets/images/paragon.png" />
                <div class="cont">
                  <h1>Paragon One</h1>
                  <p>Creative thinking, +3 more</p>
                </div>
              </div>
              <div class="tcard card">
                <img src="../assets/images/mask.png" />
                <div class="cont">
                  <h1>Classcraft</h1>
                  <p>Writing Composition, +1 more</p>
                </div>
              </div>
              <div class="tcard card">
                <img src="../assets/images/read.png" />
                <div class="cont">
                  <h1>ReadToMe</h1>
                  <p>Experiment Learning, +2 more</p>
                </div>
              </div>
              <div class="tcard card">
                <img src="../assets/images/disc.png" />
                <div class="cont">
                  <h1>Discovery Education</h1>
                  <p>Creative thinking, +10 more</p>
                </div>
              </div>
            </div>
          </div>

          <div class="pilots">
            <div class="camph">
              <h1>Tool Pilots</h1>
              <img class="plus" src="../assets/images/plus.png" />
              <img src="../assets/images/more.png" />
            </div>
            <div class="wrap-pil">
              <div class="ccard card">
                <h1>ReadToMe: Houde Pilot1</h1>
                <button class="pil-button">in Progress</button>
                <div class="st">
                  <div class="person">
                    <img src="../assets/images/time.png" />
                    <p>Fall 2020</p>
                  </div>
                  <div class="link1">
                    <img src="../assets/images/hyperlink.png" />
                    <p>Student Pod</p>
                  </div>
                </div>

                <div class="st3">
                  <div class="person">
                    <img
                      style="border-radius: 22px; width: 30px; height: 30px"
                      src="../assets/images/sam.png"
                    />
                  </div>
                  <div class="mon">
                    <img src="../assets/images/hyperlink.png" />
                    <p>50k/year</p>
                  </div>
                </div>
              </div>
              <div class="grey"></div>
            </div>

            <div class="wrap-pil">
              <div class="ccard card">
                <h1>Paragon One: Houde Pilot2</h1>
                <button class="pil-button2">Awaiting Approval</button>
                <div class="st">
                  <div class="person">
                    <img src="../assets/images/time.png" />
                    <p>Fall 2020</p>
                  </div>
                  <div class="link1">
                    <img src="../assets/images/hyperlink.png" />
                    <p>Student Pod</p>
                  </div>
                </div>
                <div class="st3">
                  <div class="person">
                    <img
                      style="border-radius: 22px; width: 30px; height: 30px"
                      src="../assets/images/sam.png"
                    />
                  </div>
                  <div class="mon">
                    <img src="../assets/images/hyperlink.png" />
                    <p>50k/year</p>
                  </div>
                </div>
              </div>
              <div class="grey"></div>
            </div>
          </div>

          <div class="pods">
            <div class="podsh">
              <h1>Design Learning Pods</h1>

              <img src="../assets/images/more.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
